<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须 = Mapper 接口的全类名（复制粘贴） -->
<mapper namespace="com.biyesheji.gybbysj.mapper.ExamManageMapper">
    <select id="getExamList" resultType="com.biyesheji.gybbysj.vo.ExamManage.GetExamListVO">
        select * from exam_paper where  creator_id = #{userid}
        and deleted=0
    </select>
    <select id="getExamDetail" resultType="com.biyesheji.gybbysj.vo.ExamManage.GetExamDetailVO">
        select * from exam_paper
        where  creator_id = #{userid}
        and id = #{examid}
    </select>
    <insert id="updateEndTimeAndStatus">
        insert into
            exam_course
        (teacher_id, class_id, paper_id, status, start_time, end_time)
        VALUES
        (#{userId}, #{courseId}, #{paperId}, 0, #{startTime}, #{endTime})
    </insert>
    
    <update id="updateExamTimeout">
        update exam_course
        set status = 2
        where status = 1 and end_time  &lt; #{now}
    </update>

    <update id="updateExamTimefront">
        update exam_course
        set status = 1
        where status = 0 and start_time  &lt; #{now}
    </update>

    <select id="getAllExam" resultType="com.biyesheji.gybbysj.vo.ExamManage.GetAllExamVO">
        select u.username,c.course_name,ep.title , e.status, e.start_time, e.end_time
        from exam_course e
        inner join user u on e.teacher_id = u.id
        inner join course c on e.class_id = c.id
        inner join exam_paper ep on e.paper_id = ep.id
        where  e.teacher_id = #{userid}
    </select>
</mapper>