<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须 = Mapper 接口的全类名（复制粘贴） -->
<mapper namespace="com.biyesheji.gybbysj.mapper.ExamProcessMapper">
    <select id="FindQuestionByPaperId">
        select  q.id,q.answer,q.type,q.options,q.content
        from  exam_paper_question epq
        left join question q on epq.question_id = q.id
        left join exam_paper ep on ep.id = epq.paper_id
        where ep.id = #{paperId}
    </select>
    <select id="FindQuestionIsRight">
        select  ec.score
        from question q
        inner join exam_paper_question ec on q.id = ec.question_id
        where q.id = #{keyId} and q.answer = #{stuAnswer}
        and ec.paper_id in(
            select paper_id
            from exam_course
            where #{examId} = id
            )
    </select>
</mapper>